{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}



<div class="jumbotron jumbotron-fluid back" style="text-align: center;background-color: #ABBAEA;">
      <p> <strong><span style="font-family:Times New Roman; font-size: 35pt;">Trustworthy Federated Learning</span></strong></p>
</div>

<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr style="height: 250px;">
	
	
	<td style="vertical-align: middle; width: 30%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/pfl_book.png" alt="" width="260"></td>
	
		<td style="vertical-align: middle; width: 70%; height: 250px;">
		
		<p style="font-size:17px">
             近年来，人工智能技术在取得令人瞩目成就的同时，隐私和数据安全也成为大众关注的焦点，数据被窃取和滥用的案例层出不穷。为此，政府机构不断立法和完善隐私保护的法律法规，随着这些法律法规的实施，已有很多互联网、金融机构等企业由于泄露用户数据而被罚。但另一方面，国家强调探索建立安全合规的数据要素流通规则。这意味着，监管趋严背景下，机构对数据的采集、流通与应用愈发谨慎；而同时现实又在不断推动数据要素加速走向开放共享。
        </p>
		
		<p style="font-size:17px">
			 
			 在此背景下，人们迫切希望有一种技术，能够有效解决数据安全与开放共享矛盾。<strong>联邦学习（Federated Learning, FL）</strong>作为隐私增强计算与人工智能相结合的新型技术范式，成为了解决数据安全与开放共享矛盾的一个重要技术路径。自联邦学习提出以来，联邦学习取得了快速的进展，不管在工业界还是学术界都取得了令人印象深刻的成果。但随着联邦学习的发展，传统联邦学习的概念也存在一些模糊和不足的地方，例如概念定义过于宽泛，尤其是在安全性层面，导致部分用户在使用过程中，会将联邦学习与分布式机器学习等价起来；在应用落地的过程中，安全、性能和效率的平衡考量越发重要，但传统联邦学习没有体现出这一点。
        </p>
		
		<p style="font-size:17px">
            为此研究人员对联邦学习的概念和定义进行了不断的完善，提出了<strong>可信联邦学习 (Trustworthy Federated Learning，TFL)</strong> ，具体来说可信联邦学习是一种增强型的联邦学习，它除了保证原始数据的隐私安全和模型的可证安全，还保证学习过程的高效率和模型的可用性，模型决策机制的可解释性、及模型的可溯源和审计监管。
        </p>
		
        <p style="font-size:17px">
            当前可信联邦学习的理论还在快速发展，与新兴技术（如大模型技术）的结合也在不断涌现，因此，想要从全局视角上深入浅出了解可信联邦学习的技术全貌，是非常具有挑战性的，我们也感到迫切需要一本读物，能够全面且深入地讨论可信联邦学习的方方面面，并就未来的发展方向编写一本全面的书，这可以使广大读者受益。
			
			
        </p>
        <p style="font-size:17px">
            本书涵盖可信联邦学习的广泛主题，从基础算法到高级技术，从理论分析到应用实战，适用于包括高年级本科生和研究生、高校讲师在内的相关从业人员。
        </p>
		

		</td>
		
		
		
		
	</tr>
</tbody></table>


