{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}







<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第三章：横向联邦学习</span></strong></p>
		</th>
	</tr>

	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch1.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">
	
			<p style="font-family:Times New Roman;font-size: 13pt;">
简介：本章我们将介绍横向联邦学习（HorizontalFederatedLearning，HFL）。横向联邦是最早被定义、也是当前应用最为广泛的一种联邦学习类型。具体来说，本章我们将详细讨论HFL的概念定义、架构设计和基础算法。
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>

<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第四章：可信联邦学习</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 11pt;">
简介：本章我们将介绍联邦学习的另一种类型，即纵向联邦学习（Vertical Federated Learning，VFL）。我们将详细讨论 VFL 的概念定义、架构设计、算法细节等多方面内容。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>



<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第五章：联邦迁移学习</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 11pt;">
简介：我们在第3章和第4章分别讨论了横向联邦学习（Horizontal Federated Learning，HFL）和纵向联邦学习（Vertical federated learning，VFL）的相关知识。但在实际的应用场景中，我们还经常面临着另一种可能的情况，即各参与方之间，既没有重叠用户（或重叠用户很少），也没有相同的特征空间（或特征分布不一致）。在这种情况下，我们需要借助迁移学习（Transfer Learning，TL) 技术，将迁移学习与联邦学习相结合，通过知识的安全迁移，帮助各参与方提升模型的性能。本章我们详述联邦迁移学习（Federated Transfer Learning ，FTL），详细讨论 FTL 的概念定义、架构设计、算法细节等多方面内容。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>



<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第六章：联邦强化学习</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 11pt;">
简介：在前面的章节中，我们分别介绍了三种不同的联邦学习类型，即横
向联邦学习、纵向联邦学习和联邦迁移学习，但对它们的讲解，更多的是
在监督学习与无监督学习的基础上进行讨论。在本章中，我们将介绍强化
学习在联邦学习架构中的应用，即联邦强化学习（FederatedReinforcement
 Learning，FRL）。本章的内容包括：强化学习的术语概念；强化学习算
法分类；联邦强化学习的相关知识，及其应用。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>


<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第七章：联邦图学习</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 11pt;">
简介：前面章节对联邦学习算法的讨论，主要是针对表格数据（Tabular，如
图像等）和序列式数据（Sequences，如文字、音频信号等）的处理。但
在现实场景中，还存在着大量以图结构展示的复杂数据，将联邦学习与图神经网络相结合，即联邦图学习（Federated
 Graph Learning，FGL）也是当前联邦学习领域的一个热门研究方向。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>


<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第八章：自动化联邦学习</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 11pt;">
简介：本章我们将探讨自动化联邦学习（AutomatedFederatedLearning，Aut
oFL）的概念和技术，本章主要以神经架构搜索为核心，详细分析其在横
向联邦架构和纵向联邦架构下的实现。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>


<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第九章：其他联邦机器学习范式</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 11pt;">
简介：本章前面的章节中，我们介绍了联邦学习在安全性、模型性能、算法
效率等多方面的知识点。联邦学习作为一种分布式的隐私计算架构，从
理论上来说，传统的中心化机器学习算法都能很好的适配到联邦学习架
构中。本节我们探讨其他几种前沿的机器学习范式在联邦架构上的实现。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">PDF下载:&nbsp;<a href="https://github.com/innovation-cat/Awesome-Federated-Machine-Learning" target="_blank">Github Project</a></p>		
		</td>	
	</tr>
</tbody></table>