{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}





<figure class="third"> 
	<div class="text-muted">
		<img src="/images/720.png" height="300">
		<h5 class="card-title" align="center">Name: *****</h5>
		<h5 class="card-title" align="center">Affiliation: *****</h5>
	</div> 
	<div class="text-muted">
		<img src="/images/720.png" height="300">
		<h5 class="card-title" align="center">Name: *****</h5>
		<h5 class="card-title" align="center">Affiliation: *****</h5>
	</div> 
	<div class="text-muted">
		<img src="/images/720.png" height="300">
		<h5 class="card-title" align="center">Name: *****</h5>
		<h5 class="card-title" align="center">Affiliation: *****</h5>
	</div> 
</figure>