{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}







<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第一章：引言</span></strong></p>
		</th>
	</tr>

	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch1.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">
	
			<p style="font-family:Times New Roman;font-size: 13pt;">
简介：本章将介绍数据的价值，以及当前人工智能发展面临的挑战，并由此引入联邦学习的概念。联邦学习作为一种新型的、基于数据隐私保护技术实现的分布式训练范式，在实现数据资产价值最大化、数据隐私保护等方面起到非常重要的作用。
</p>

			<p style="font-family:Times New Roman;font-size: 13pt;">文件下载:&nbsp;<a href="/files/paper1.pdf" target="_blank">PDF</a></p>		
		</td>	
	</tr>
</tbody></table>

<br>


<table style="border-collapse: collapse; width: 100%;"><tbody>
	<tr bgcolor="#DEDEDC">
		<th colspan="2" align="left">
			<p> <strong><span style="font-family:Times New Roman; font-size: 18pt;">第二章：可信联邦学习</span></strong></p>
		</th>
	</tr>
	<tr style="height: 250px;">
	
		<td style="vertical-align: middle; width: 40%; height: 250px;"> <img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ch2.png" alt=""></td>
		
		<td style="vertical-align: middle; width: 60%; height: 250px;">		
			<p style="font-family:Times New Roman;font-size: 13pt;">
简介：上一章我们介绍了联邦学习提出的背景及其概念定义，同时也指出传统的联邦学习在概念上存在一些模糊的地方。随着联邦学习的快速发展和广泛使用，为了更好地适应隐私保护的技术发展，研究人员对联邦学习的概念和技术进行了不断的完善，并提出了可信联邦学习的概念，本章我们将对可信联邦学习的知识点进行综述。
</p>
			<p style="font-family:Times New Roman;font-size: 13pt;">文件下载:&nbsp;<a href="/files/paper1.pdf" target="_blank">PDF</a></p>		
		</td>	
	</tr>
</tbody></table>
