{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}





<div>
	<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" color="red" size="2">
</div>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>&bull;&nbsp;&nbsp;&nbsp;第一章：引言</b></p>
	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;简介：本章将介绍数据的价值，以及当前人工智能发展面临的挑战，并由此引入联邦学习的概念。联邦学习作为一种新型的、基于数据隐私保护技术实现的分布式训练范式，在实现数据资产价值最大化、数据隐私保护等方面起到非常重要的作用。<br>&nbsp;&nbsp;&nbsp;&nbsp;[<a href="https://arxiv.org/pdf/2304.04641.pdf"  target="_blank"><i class="fas fa-file-pdf"  style="font-size: 0.8em;"></i> PDF</a>]</p>
  </article>
</div>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p style="font-family:Times New Roman;font-size:110%;margin-bottom:1px;"><b>&bull;&nbsp;&nbsp;&nbsp;第二章：可信联邦学习</b></p>
	<p style="font-family:Times New Roman;margin-top:1px;">&nbsp;&nbsp;&nbsp;&nbsp;简介：上一章我们介绍了联邦学习提出的背景及其概念定义，同时也指出传统的联邦学习在概念上存在一些模糊的地方。随着联邦学习的快速发展和广泛使用，为了更好地适应隐私保护的技术发展，研究人员对联邦学习的概念和技术进行了不断的完善，并提出了可信联邦学习的概念，本章我们将对可信联邦学习的知识点进行综述。<br>&nbsp;&nbsp;&nbsp;&nbsp;[<a href="https://link.springer.com/content/pdf/10.1007/s11633-022-1343-2.pdf"  target="_blank"><i class="fas fa-file-pdf"  style="font-size: 0.8em;"></i> Paper</a>]</p>
  </article>
</div>
